.feature-image{
      background-image: url('../../../assets/home/featured.jpg');

      /* height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
}
